{% extends 'base.html' %}
{% block content %}
	
	<div class="header">
		<img src="{{STATIC_URL}}imgs/parkeddomaingallery_logo_smaller.png">
	</div>
	<div class="domain-list" style="background-image:url({{STATIC_URL}}imgs/parked.jpg)">
		<div class="explanation">
			Remember the test screens on TV? Today's equivalent are those spammy GoDaddy ads on our parked domains. Let's make them into online galleries instead.

	<br><br>
The collection currently being shown on this parked domain is a carefully curated selection of the finest pieces of <a href="http://arthackday.net/events/afterglow" >Art Hack Day Berlin #afterglow</a> participants. 
	<br><br>
	<i>Contribute art! Add your domain!</i> Get in touch with <a href="https://twitter.com/olofster">@olofster</a> or <a href="https://twitter.com/captDaylight">@captDaylight</a> and we'll give you the info.
		</div>
		<div class="domains">
			<div class="header">A list of domains carrying our collection:</div>
			<div class="domain"><a href="http://www.blockblog.net/">blockblog.net</a></div>
			<div class="domain"><a href="http://www.objectivememory.com/">objectivememory.com</a></div>
			<div class="domain"><a href="http://www.socialstatic.net/">socialstatic.net</a></div>
			<div class="domain"><a href="http://www.madatdata.com/">madatdata.com</a></div>
		</div>
		
	</div>

	<footer></footer>

{% endblock %}